# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Babel output (optional)
dist/
build/

# Vite
.vite/

# Local env
.env
.env.local
.env.*.local

# macOS, VSCode, OS별 잡파일
.DS_Store
*.log
.vscode/